env
env/
/recolo/__pycache__/
/recolo/demoData/data
/recolo/demoData/impact_hammer_data
*.pyc
.pyc
.vscode
.idea
.cache
*.npy
*.npz
*.rpt
*.png
*.gif
*.tif
*.tmp
.pytest_cache

docs/_build
docs/_static
docs/_templates